{% extends 'basic.html' %}
{% block content %}

{% for x in context_qs %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<style>
		.button {
			border: none;
			font-family: "georgia",sans-serif;
			font-style:italic;
			border-radius: 6px;
			cursor: pointer;
			background-size: 10%
			margin: 1px;
			padding: 1px;
			width: 1px;
			border-radius: 6px;
			color: Black;
			background-size: 200%;
			
		}
</style>

<li><a class="button" href="{{ x.go_to_link_delete }}"> {{ x.book_title }} -- {{ x.book_author }}</li>

</body>
</html>

{% endfor %}


{% endblock %}
