
{% extends 'basic.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Book-home</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\Nidhisha Shetty\trydjango\Projects\Project_books\templates\style.css" />
</head>
<body>
	<style>
		.button {
			border: none;
			font-family: "georgia",sans-serif;
			font-style:italic;
			border-radius: 6px;
			cursor: pointer;
			background-size: 200%
			margin: 20px;
			padding: 24px;
			width: 250px;
			border-radius: 6px;
			color: Black;
			background-size: 200%;
			background-image: linear-gradient(to left, #BDC581, #58B19F, #BDC581);
			transition: 0.1s;
			overflow: hidden;
		}
		.button:hover{
			color: #BDC581
		}
	</style>
	<div class="container1">
		<p align="center">
		<a href="http://127.0.0.1:8000/create/"> <button class="button"><b>Add book</b></button></a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="http://127.0.0.1:8000/edit_list/" ><button class="button"><b>Update book details</b></button></a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="http://127.0.0.1:8000/delete_list/"><button class="button"><b>Delete book</b></button></a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="http://127.0.0.1:8000/view_list/"><button class="button"><b>Read book</b></button></a>
	</p>
	</div>

</body>
</html>
{% endblock %}